<mat-progress-bar
  class="progress-bar"
  mode="indeterminate"
  color="primary"
  *ngIf="processing"></mat-progress-bar>
<div class="main__content main__content--large">
  <div class="main__header">
    <ng-container *ngIf="authenticated">
      <h2 class="main__title" *ngIf="editing">
        <div class="label">Editar equipe</div>
        <div class="value">{{ item.name }}</div>
      </h2>
      <h2 class="main__title" *ngIf="!editing">Criar equipe</h2>
    </ng-container>
    <ng-container *ngIf="!authenticated">
      <h2 class="main__title">
        <div class="label">Equipe</div>
        <div class="value">{{ item.name }}</div>
        <div class="info">Ranking mínimo: {{ item.initial_ranking.name}} {{ item.initial_ranking.rank}}</div>
      </h2>
    </ng-container>
  </div>
  <mat-card>
    <nav mat-tab-nav-bar *ngIf="authenticated">
      <a mat-tab-link [active]="true">Dados</a>
      <a mat-tab-link
         *ngIf="item?.id"
         [routerLink]="['/teams', item.id, 'vacancies' ]"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        Vagas
      </a>
    </nav>
    <form [formGroup]="form" class="form" *ngIf="authenticated">
      <mat-grid-list cols="1" rowHeight="81px">
        <mat-grid-tile>
          <mat-form-field appearance="fill" class="fullwidth">
            <mat-label>Sigla</mat-label>
            <input matInput placeholder="(3 a 5) caracteres" formControlName="abbreviation">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="fill" class="fullwidth">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Nome da equpe" formControlName="name">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="fill" class="fullwidth">
            <mat-label>Rankings</mat-label>
            <mat-select formControlName="minRanking">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let ranking of rankings"
                          [value]="ranking.id">{{ ranking.name }} {{ ranking.rank }}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
    <mat-card-actions align="end" *ngIf="authenticated">
      <button mat-button [routerLink]="['/teams']" color="primary">Cancelar</button>
      <button mat-raised-button color="primary" (click)="save()">Criar</button>
    </mat-card-actions>
    <h4 class="title-secondary" *ngIf="!authenticated">Vagas</h4>
    <table mat-table [dataSource]="item?.vacancies" *ngIf="!authenticated">
      <!-- Posição  -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Posição</th>
        <td mat-cell *matCellDef="let element">
          <div class="role-name">
            <img [src]="roleImageBy(element.roleId)" alt="" class="image">
            <span class="name">{{ roleNameBy(element.roleId) }}</span>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
</div>
