<mat-progress-bar
  class="progress-bar"
  mode="indeterminate"
  color="primary"
  *ngIf="processing"></mat-progress-bar>
<div class="main__content">
  <h2 class="main__title">Esqueci minha senha</h2>
  <mat-card>
    <mat-card-subtitle>Informe seu email de cadastro</mat-card-subtitle>
    <form [formGroup]="form">
      <mat-grid-list cols="1" rowHeight="81px">
        <mat-grid-tile>
          <mat-form-field appearance="fill" class="fullwidth">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
    <mat-card-actions align="end">
      <button mat-button [routerLink]="['/account', 'login']" color="primary">Login</button>
      <button mat-raised-button
              color="primary"
              (click)="send()">Entrar</button>
    </mat-card-actions>
  </mat-card>
</div>
