<mat-progress-bar
  class="progress-bar"
  mode="indeterminate"
  color="primary"
  *ngIf="processing"></mat-progress-bar>
<div class="main__content">
  <div class="main__header">
    <h2 class="main__title">Criar nova senha</h2>
  </div>
  <mat-card>
    <form [formGroup]="form">
      <mat-grid-list cols="1" rowHeight="81px">
        <mat-grid-tile>
          <mat-form-field appearance="fill" class="fullwidth">
            <mat-label>Senha</mat-label>
            <input type="password" matInput placeholder="Senha" formControlName="password">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="fill" class="fullwidth">
            <mat-label>Confirmar senha</mat-label>
            <input type="password" matInput placeholder="Repita a senha" formControlName="confirm">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
    <mat-card-actions align="end">
      <button mat-raised-button
              color="primary"
              (click)="send()">Concluir</button>
    </mat-card-actions>
  </mat-card>
</div>
