<h2 class="main__title">Criar nova senha</h2>
<div class="main__content">
  <mat-card>
    <form action="">
      <mat-grid-list cols="1" rowHeight="81px">
        <mat-grid-tile>
          <mat-form-field appearance="fill" class="fullwidth">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="Senha">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="fill" class="fullwidth">
            <mat-label>Confirmar senha</mat-label>
            <input type="password" matInput placeholder="Repita a senha">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary">Concluir</button>
    </mat-card-actions>
  </mat-card>
</div>
