<h2 class="main__title">Criar conta</h2>
<div class="main__content">
  <mat-card>
<!--    <mat-card-title>Dados de cadastro</mat-card-title>-->
    <form [formGroup]="form">
      <mat-grid-list cols="1" rowHeight="81px">
        <mat-grid-tile>
          <mat-form-field appearance="fill" class="fullwidth">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Nome e sobrenome" formControlName="name">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="fill" class="fullwidth">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Email" formControlName="email">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="81px" gutterSize="16px">
        <mat-grid-tile>
          <mat-form-field appearance="fill" class="fullwidth">
            <mat-label>Senha</mat-label>
            <input type="password" matInput placeholder="Senha" formControlName="password">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="fill" class="fullwidth">
            <mat-label>Confirmar senha</mat-label>
            <input type="password" matInput placeholder="Informe novamente" formControlName="confirm">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
    <mat-card-actions align="end">
      <button mat-button
              color="primary"
              [routerLink]="['/account', 'login']">Login</button>
      <button mat-raised-button
              color="primary"
              (click)="create()">Cadastrar</button>
    </mat-card-actions>
  </mat-card>
</div>
